Flask
Flask-Admin
Flask-Cache
Flask-Migrate
Flask-Moment
Flask-OIDC
Flask-RESTplus
Flask-Script
Flask-SQLAlchemy
certifi
eventlet
filelock
flask-caching
flask-compress
flask-cors
flask_marshmallow
flask-socketio
gevent>=1.1.0,<1.2.0
gunicorn
kombu>=3.0,<4
marshmallow-sqlalchemy
mysqlclient
python-jose
snowplow-tracker
toastedmarshmallow
pysnow
