snowplow-tracker==0.8.2rc1.dev1
Flask
Flask-Admin
Flask-Cache
Flask-Login
Flask-Migrate
Flask-Moment
Flask-OIDC
Flask-RESTplus
Flask-Script
Flask-SQLAlchemy
certifi
eventlet
filelock
flask-caching
flask-compress
flask-cors
flask_marshmallow
flask-socketio
gunicorn
marshmallow-sqlalchemy
psycopg2-binary
pysnow
pytest
python-dotenv
python-jose
SQLAlchemy-Utc
toastedmarshmallow==0.2.6
flask_oidc
