name: Dockerfile Build
on:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
        default: master
      directory:
        required: true
        type: string
      image-name:
        required: true
        type: string
      image-tags:
        required: true
        type: string
      push-qms:
        required: false
        type: boolean
        default: true
      push-theq:
        required: false
        type: boolean
        default: true
    secrets:
      artifactory-password:
        required: true
      artifactory-registry:
        required: true
      artifactory-username:
        required: true
      namespace-qms:
        required: true
      namespace-qms-password:
        required: true
      namespace-qms-username:
        required: true
      namespace-theq:
        required: true
      namespace-theq-password:
        required: true
      namespace-theq-username:
        required: true
      openshift-registry:
        required: true
    outputs:
      image-tags:
        value: ${{ jobs.build.outputs.image-tags }}

jobs:
  build:
    name: Dockerfile Build
    runs-on: ubuntu-latest
    outputs:
      image-tags: ${{ steps.build-image.outputs.tags }}

    steps:
    - name: Check out
      uses: actions/checkout@v2
      with:
        ref: ${{ inputs.ref }}

    - name: Login to Artifactory to Pull Images in Buildah Build
      uses: redhat-actions/podman-login@v1
      with:
        registry: ${{ secrets.artifactory-registry }}
        username: ${{ secrets.artifactory-username }}
        password: ${{ secrets.artifactory-password }}

    # There is a sporadic error "error happened during read: unexpected EOF"
    # when pulling Artifactory images. It was suggested that perhaps it was due
    # to /var/tmp being full. Maybe this will indicate something strange when it
    # does happen.

    - name: Debug for errors
      run: cd /var/tmp; df -h .

    - name: Buildah Build
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        containerfiles: ${{ inputs.directory }}/Dockerfile
        context: ${{ inputs.directory }}
        image: ${{ inputs.image-name }}
        tags: ${{ inputs.image-tags }}

    - name: Debug for errors
      run: cd /var/tmp; df -h .

    - name: Debug - time before The Q
      run: date

    - name: Push Image to The Q
      if: inputs.push-theq
      uses: redhat-actions/push-to-registry@v2
      with:
        extra-args: --log-level=debug
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: ${{ secrets.openshift-registry }}/${{ secrets.namespace-theq }}
        username: ${{ secrets.namespace-theq-username }}
        password: ${{ secrets.namespace-theq-password }}

    - name: Debug - time before QMS
      run: date

    - name: Push Image to QMS
      if: inputs.push-qms
      uses: redhat-actions/push-to-registry@v2
      with:
        extra-args: --log-level=debug
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: ${{ secrets.openshift-registry }}/${{ secrets.namespace-qms }}
        username: ${{ secrets.namespace-qms-username }}
        password: ${{ secrets.namespace-qms-password }}
