.formio-component.formio-component-table.table-responsive {
  overflow-x: hidden !important;
  padding-right: 13vh !important;
  padding-left: 13vh !important;
  overflow-y: hidden !important;
}

.tabs .form-render ul.list-group.list-group-striped {
  align-items: unset !important;
}
.task-outer-container .height-100 {
  min-height: 110vh;
}
.cft-actionable-container .is-flipped .choices__list.choices__list--dropdown {
  height: 150px !important;
}
.cft-actionable-container .choices__list.choices__list--dropdown {
  overflow-y: auto;
}
.cft-actionable-container .form-render a {
  display: unset !important;
  padding: unset !important;
}
.tooltip-inner {
  height: auto;
  width: auto;
  overflow: auto;
  max-width: auto !important;
}

.cft-actionable-container .tooltip-inner ul {
  display: block;
  margin-left: 25px;
  text-align: left;
}
.cft-actionable-container .tooltip-inner  li {
  list-style-type: disc;
  display: list-item !important;
}
.loading div {
  border: unset;
  -webkit-animation: unset;
  border-radius: unset;
}

input.mx-input:focus, input.mx-input:hover {
  margin: unset !important;
}

.tabs {
  user-select: unset !important;
}
